;; Env Setup:
;; npm install -D @tailwindcss/typography
;; and more

;; Running Build
;; npx tailwindcss -i ./src/css/app.css -o ./public/app.css --watch

{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]
  [markdown-to-hiccup "0.6.2"]]

 :dev-http {8080 "public"}
 :builds
 {:envirotech
  {:target :browser
   :modules {:main {:init-fn envirotech.site/init}}
   }}}
